@import url('https://fonts.googleapis.com/css2?family=Forum&family=Inter:wght@400;500;600;700&family=Marcellus&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

::selection {
    background-color: #692601;
    color: #FDF2E3;
}

body {
    background: linear-gradient(
        to right,
        #dcdde4,
        #dcdde4 5%,
        #fff 10%,
        #fff 90%,
        #dcdde4 95%
    );
    font-size: 16px;
    text-align: center;
    font-family: 'Inter', sans-serif;
}

header,
main {
    background-color: white;
}

h1,
h1 a {
    padding: 1.5rem;
    font-size: 2.5rem;
    font-family: 'Marcellus', serif;
    color: #692601;
    text-decoration: none;
}

h2,
h3 {
    font-family: 'Forum', cursive;
    color: #692601;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.9rem;
    padding: 30px;
}

#wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    max-width: 1280px;
    margin: 0 auto;
    box-shadow: 0 0 20px #DBDFE7;
}

nav {
    width: 75%;
    display: block;
    margin: 0 auto 15px;
}

@media (min-width: 40em) {
    nav {
        width: 75%;
        display: block;
        margin: 0px auto;
    }
}

ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}

li {
    display: block;
    padding: 1rem;
}

@media (min-width: 40em) {
    ul {
        display: flex;
        justify-content: space-evenly;
        list-style: none;
    }

    li {
        display: inline;
        padding: 1rem;
    }
}

.link {
    background-color: white;
    padding: 15px 20px;
    text-decoration: none;
    font-weight: bold;
    color: gray;
}

.link:hover {
    color: black;
    text-decoration: underline dashed;
    text-underline-offset: 8px;
}

.active {
    color: #CC3E46;
    text-decoration: underline;
    text-underline-offset: 8px;
}

.active:hover {
    background-color: white;
    color: #CC3E46;
    text-decoration-style: solid;
    cursor: default;
}

#hero {
    background-color: #FDF2E3;
    border-top: 1px solid #E2E6ED;
    border-bottom: 1px solid #69260120;
    overflow: hidden;
}

.header-img,
.info-img {
    width: 100%;
    border-bottom: 1px solid #69260120;
}

.hero-heading {
    padding: 30px;
}

.hero-link {
    display: inline-block;
    padding-bottom: 30px;
    color: #692601;
    text-decoration: underline dashed;
    text-underline-offset: 5px;
    font-weight: bold;
}

.hero-link:hover {
    color: #17373A;
    text-decoration-color: #692601;
}

#cater {
    padding: 75px 10px;
}

@media (min-width: 40em) {
    #info-section {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}

.grid-section {
    background-color: #FDF2E3;
    margin: 10px;
    overflow: hidden;
    border: 1px solid #E2E6ED;
    border-radius: 8px;
}

.local-parent,
.chef-parent {
    height: 400px;
    overflow: hidden;
}

.local-child {
    width: 100%;
    height: 100%;
    background: no-repeat center/cover url('../images/local.jpg');
    transition: all 5s;
}

.chef-child {
    width: 100%;
    height: 100%;
    background: no-repeat center/cover url('../images/chef.jpg');
    transition: all 5s;
}

.local-parent:hover .local-child,
.local-parent:focus .local-child,
.chef-parent:hover .chef-child,
.chef-parent:focus .chef-child {
    transform: scale(1.2);
}

.grid-section p {
    padding: 0 0 20px;
    margin: 0 auto 30px;
}

@media (min-width: 40em) {
    .grid-section p {
        padding: 0 80px;
        margin: 0 auto 30px;
    }
}

footer {
    background-color: #17373A;
    padding: 50px;
    line-height: 2;
    font-weight: 500;
}

.brand-name a {
    text-decoration: none;
    color: #E2E6ED;
}

.brand-name a:hover {
    text-decoration: underline dashed;
    text-underline-offset: 8px;
}

.brand-name{
    font-size: 1.2rem;
    font-family: 'Marcellus', serif;
}

.copyright {
    font-size: 0.9rem;
    color: #69d0da;
}

.disclaimer {
    font-style: italic;
    font-weight: 200;
    font-size: 0.8rem;
    color: #367c83;
}